<%= form_for [@forum_question_comment] do |f| %>
<div>
	<span class="add-comment-link">add a comment</span>
	<div class="comment">
		<%= f.hidden_field :forum_question_id %>

		<div class="mdl-textfield mdl-js-textfield textfield-demo">
			<%= f.text_area :body, class: "mdl-textfield__input" %>
			<%= f.label :body, "Your comment...", class: "mdl-textfield__label" %>
		</div>
		<br />
		
		<%= f.submit "Comment", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
	</div>
</div>
<% end %>