<div class="">
	<h3>Forum</h3>
</div>

<div class="questions">

	<div class="row">
		
		<div class="col-11">
			<div class="question-meta">
				
				<h4><%= @forum_question.title %></h4>

				<p>
					<span class="forum-user"><%= link_to @forum_question.user.first_name %></span>
					<span class="time"><%= distance_of_time_in_words(@forum_question.created_at, Time.now) %> ago</span>
				</p>

				<p>
					<%= @forum_question.body %>
				</p>
				<br />
				<div class="forum-question-commenting">
					<div class="forum_question_comments">
						<%= render partial: "forum_question_comments" %>
					</div>

					<div class="forum-question-comment-form">
						<%= render partial: "forum_question_comments/form" %>
					</div>
				</div>
				
			</div>
		</div>

		<div class="col-1">
		<ul class="voting">
			<li>
				<%= link_to image_tag("up-arrow.png", size: "40x40", class: "image-circle"), forum_question_path(votes: @forum_question.votes + 1), :method => 'put' %>
			</li>
			<li><span class="vote-count"><%= @forum_question.votes %></span></li>
			<li>
				<%= link_to image_tag("down-arrow.png", size: "40x40", class: "image-circle"), forum_question_path(votes: @forum_question.votes - 1), :method => 'put' %>
			</li>
		</ul>
		</div>

	</div>

</div><!-- Question -->

<div class="answers">

	<h4>Responses (<%= @forum_question.forum_answers.count %>)</h4>
	<div class="answers">
		<%= render partial: 'forum_answers' %>
	</div>



	<div class="add-answer">
		<%= render partial: 'forum_answers/form' %>
	</div>

	
</div>