<p id="notice"><%= notice %></p>

<h1>Listing Markers</h1>

<table>
  <thead>
    <tr>
      <th>Marker type</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.marker_type %></td>
        <td><%= marker.lat %></td>
        <td><%= marker.lng %></td>
        <td><%= marker.title %></td>
        <td><%= marker.description %></td>
        <td><%= marker.address %></td>
        <td><%= marker.expiry_date %></td>
        <td><%= link_to 'Show', marker %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
        <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path %>
