<%= form_for @user do |f| %>
	<div class="group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="group">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div class="group">
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>

	<div class="group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<%= f.submit %>
<% end %>