<%= form_for [@forum_answer_comment] do |f| %>
<div>
	<a href="#" class="add_comment_link">add a comment</a>
	<div class="comment">
		<%= f.number_field :user_id , placeholder: "user_id" %>

		<%= f.hidden_field :forum_answer_id %>

		<%= f.text_area :body, placeholder: "Write a comment!" %>
		
		<%= f.submit %>
	</div>
</div>
<% end %>