<%= form_for @forum_answer do |f| %>
	<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
		<%= f.text_area :body, :cols => "50", :rows => "5", class: "mdl-textfield__input mdl-cell mdl-cell--10-col" %>
		<%= f.label :body, class: "mdl-textfield__label" %>
	</div>
	<%= f.hidden_field :forum_question_id, value: @forum_question.id %><br />
	<%= f.submit "Submit", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
<% end %>